<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tasktemp">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="com.example.tasktemp.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TaskActivity3"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleInstance"
            android:taskAffinity="com.example.TaskActivity3"
            android:screenOrientation="nosensor"></activity>
        <activity
            android:name=".TaskActivity2"
            android:taskAffinity="com.example.TaskActivity2"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".TaskActivity1"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="nosensor"
            android:launchMode="singleInstance"
            android:taskAffinity="com.example.TaskActivity1" />
        <activity android:name=".MainActivity"
            android:taskAffinity="com.example.tasktemp.first">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>